.choose-program {
  display: flex;
  position: relative;
  color: #111111;
  font-weight: normal;
  &__description {
    flex-basis: 50%;
    padding-left: 300px;
  }
  &__description-title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 200px;
  }
  &__description-value, &__button {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 55px;
  }
  &__button {
    width: 245px;
    height: 52px;
    background-color: #68b738;
    color: white;
    font-family: inherit;
    border: none;
    margin-bottom: 185px;
  }
  &__background {
    flex-basis: 50%;
    background: #65a93c url("../img/background.jpg") no-repeat;
    background-size: cover;
  }
  &__product {
    position: absolute;
    top: 130px;
    left: 675px;
  }
}