@font-face {
  font-family: 'Oswald';
  font-display: swap;
  src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
       url('../fonts/Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}