.page-header {
  margin-top: 54px;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.main-navigation {
  &__list {
    display: flex;
    list-style: none;
    text-transform: uppercase;
  }
  &__item {
    font-size: 20px;
    line-height: 25px;
    margin-left: 35px;
  }
  &__link {
    position: relative;
    text-decoration: none;
    color: white;
  }
  &__link--active::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background-color: white;
  }
}