.how-it-work.container-center {
    display: block;
}
.how-it-work__title {
  color: #111111;
  margin-top: 80px;
  margin-bottom: 60px;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
}
.advantages {
  display: flex;
  &__item {
    position: relative;
    width: 21%;
    margin-right: 80px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__item-number {
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
    position: absolute;
    z-index: -1;
    top: -39px;
    right: 0;
  }
  &__icon {
    width: 80px;
    height: 80px;
    &--first {
      background: #68b738 url('../img/advantage-1.png') no-repeat center center;
    }
    &--second {
      background: #68b738 url('../img/andvantage-2.png') no-repeat center center;
    }
    &--third {
      background: #68b738 url('../img/advantage-3.png') no-repeat center center;
    }
    &--fourth {
      background: #68b738 url('../img/advantage-4.png') no-repeat center center;
    }
  }
  &__description {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    margin-top: 30px;
  }
}