.live-example {
  margin-top: 150px;
  .container-center {
    align-items: stretch;
  }
  &__wrapper {
    background-color: #f2f2f2;
    height: 500px;
  }
  &__image-wrapper {
    position: relative;
    top: -180px;
    width: 677px;
    height: 517px;
  }
  &__image-after, &__image-before {
    position: absolute;
  }
  &__image-after {
    left: 100px;
    top: -20px;
    clip: rect(auto, auto, auto, 266px);
  }
  &__image-before {
    z-index: 2;
    clip: rect(auto, 366px, auto, auto);
  }
  &__title {
    color: #111111;
    margin-top: 80px;
    margin-bottom: 60px;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
  }
  &__description-text {
    margin: 75px 75px 75px 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444;
  }
  &__description-wrapper {
    display: flex;
  }
  &__weight, &__days {
    position: relative;
    width: 170px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    font-size: 30px;
    line-height: 37px;
    color: #111111;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
  }
  &__weight {
    margin-right: 40px;
  }
  &__weight, &__days {
    &::after {
      position: absolute;
      content: "снижение веса";
      font-family: Arial, sans-serif;
      font-size: 12px;
      line-height: 14px;
      color: #444;
      bottom: -7px;
      left: 50%;
      display: table;
      transform: translate(-50%, 0);
      padding: 0 8px;
      background-color: #f2f2f2;
    }
  }
  &__days{
    &::after {
      content: "затрачено времени";
    }
  }
  &__outlay {
    display: flex;
    width: 366px;
    text-transform: uppercase;
    color: #111111;
    margin-top: 40px;
    font-size: 20px;
    line-height: 20px;
  }
  &__outlay-value {
    margin-left: 80px;
  }
  &__slider {
    display: flex;
    align-items: center;
    position: relative;
    top: -150px;
    &-value {
      flex-basis: 10%;
      text-align: center;
      text-transform: uppercase;
      color: #111111;
      font-size: 20px;
      line-height: 20px;
    }
    &-line {
      position: relative;
      flex-basis: 80%;
      display: inline-block;
      height: 5px;
      border-radius: 2px;
      background-color: #dcdcdc;
    }
    &-regulator {
      position: absolute;
      background-color: white;
      border: 1px solid rgb(205, 205, 205);
      border-radius: 50%;
      width: 32px;
      height: 32px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      top: -15px;
      left: 51%;
    }
    &-regulator::after{
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #65a93c;
    }
  }
}