.cat-energy-options {
  margin-top: 80px;
  .option-slimming, .option-weightgain {
    flex-basis: 50%;
    background-color: #f2f2f2;
    padding: 50px;
    color: #111111;
    text-transform: uppercase;
  }
  .option-slimming__title, .option-weightgain__title {
    display: flex;
  }
  .option-slimming__title-icon, .option-weightgain__title-icon {
    position: relative;
    background-color: #68b738;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 65px;
  }
  .option-slimming__title-icon::after, .option-weightgain__title-icon::after {
    content: "";
    position: absolute;
  }
  .option-slimming__title-icon::after {
    background: url('../img/ElegantCat.svg') no-repeat;
    width: 100%;
    height: 100%;
    top: -7px;
    left: 13px;
  }
  .option-weightgain__title-icon::after {
    background: url('../img/AgressiveCat.svg') no-repeat;
    width: 134px;
    height: 100%;
    top: 25px;
    left: -20px;
  }
  .option-slimming {
    margin-right: 80px;
  }
  .option-slimming__title-value, .option-weightgain__title-value {
    font-size: 36px;
    line-height: 37px;
    font-weight: normal;
  }
  .option-slimming__description, .option-weightgain__description {
    text-transform: none;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    font-family: Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  &__link {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 24px;
      height: 11px;
      background: url('../img/right-arrow-long.svg') no-repeat;
      top: 7px;
      left: 110px;
    }
    &:hover {
      @include hoverLink;
    }
  }
}