html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
body {
  font-size: $fontSize;
  font-family: $mainFont;
  color: $mainFontColor;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
*, ::after, ::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: #111111;
}
ul {
  margin: 0;
  padding: 0;
}
.container-center {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
